.App.container .row{
  margin: 10px 0px;
}


.App .table {
  width: auto !important;
  margin: 0px 20px 15px !important;
}

.App .table .player {
  min-width: 150px;
}

.App .form-control {
  width: auto;
}

.App .form-control.short {
  max-width: 100px;
  width: 100px !important;
}

.App .btn {
  margin: 0px 40px 0px;
}

.addSetBtn {
  position: relative;
  top: 50%;
  transform: translateY(0%);
}